.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    input {
        height: 50px;
        border-radius: 5px;
        border: none;
        background: #ffffff;
        margin-bottom: 12px;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 66px;
        color: #4b4b4b;
        &:nth-child(3) {
            margin-bottom: 17px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}
